style.
    .round {
        border-radius: 50%;
    }
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon', type='image/png', href='../../assets/img/logo.png')
title Pug Website
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap', rel='stylesheet')