doctype html
head
  link(rel='stylesheet', type="text/css", href="../../css/navbar/navbar.css")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  
header
  img.logo(src="../../assets/img/logo.png", alt='logo')
  nav
    ul.navlinks
      li
        a(href='#') Testing
      li
        a(href='#') The
      li
        a(href='#') Navbar
  a.login(href='/login')
    button Sign In
