doctype 
html(lang="en")
    head
    link(rel='stylesheet', type="text/css", href="../../css/404/404.css")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    include ../includes/Header.pug
    body
        .container
            h1.text-light.center Looks like you may have missed your stop.
            h3.text-light.center Error 404 - Not Found
            a.login(href='/')
                button.vertical-center Return